
 <header class='Calendario'action='/calendario' method='get'>
        <div>
            <span class='titulo' id="titulo1">Janeiro 2020</span>
            <a type="button" href="fevereiro.html" class='botao' id="botao3" name='botao3'>&gt</a>
        </div>
        <table>
            <tr>
                <td><input type='button' class='semana' value='Dom'/></td>
                <td><input type='button' class='semana' value='Seg'/></td>
                <td><input type='button' class='semana' value='Ter'/></td>
                <td><input type='button' class='semana' value='Qua'/></td>
                <td><input type='button' class='semana' value='Qui'/></td>
                <td><input type='button' class='semana' value='Sex'/></td>
                <td><input type='button' class='semana' value='Sab'/></td>
               
            </tr>
        </table>
        <table>
            <tr>
                <td><input type='button' class='dia1' value=' '/></td>
                <td><input type='button' class='dia1' value=' '/></td>
                <td><input type='button' class='dia1' value=' '/></td>
                <td><input type='button' class='dia' value='1'/></td>
                <td><input type='button' class='dia' value='2'/></td>
                <td><input type='button' class='dia' value='3'/></td>
                <td><input type='button' class='dia' value='4'/></td>
            </tr>
            <tr>
                <td><input type='button' class='dia' value='5'/></td>
                <td><input type='button' class='dia' value='6'/></td>
                <td><input type='button' class='dia' value='7'/></td>
                <td><input type='button' class='dia' value='8'/></td>
                <td><input type='button' class='dia' value='9'/></td>
                <td><input type='button' class='dia' value='10'/></td>
                <td><input type='button' class='dia' value='11'/></td>
            </tr>
            <tr>
                <td><input type='button' class='dia' value='12'/></td>
                <td><input type='button' class='dia' value='13'/></td>
                <td><input type='button' class='dia' value='14'/></td>
                <td><input type='button' class='dia' value='15'/></td>
                <td><input type='button' class='dia' value='16'/></td>
                <td><input type='button' class='dia' value='17'/></td>
                <td><input type='button' class='dia' value='18'/></td>
            </tr>
            <tr>
                <td><input type='button' class='dia' value='12'/></td>
                <td><input type='button' class='dia' value='20'/></td>
                <td><input type='button' class='dia' value='21'/></td>
                <td><input type='button' class='dia' value='22'/></td>
                <td><input type='button' class='dia' value='23'/></td>
                <td><input type='button' class='dia' value='24'/></td>
                <td><input type='button' class='dia' value='25'/></td>
            </tr>
            <tr>
                <td><input type='button' class='dia' value='26'/></td>
                <td><input type='button' class='dia' value='27'/></td>
                <td><input type='button' class='dia' value='28'/></td>
                <td><input type='button' class='dia' value='29'/></td>
                <td><input type='button' class='dia' value='30'/></td>
                <td><input type='button' class='dia' value='31'/></td>
                <td><input type='button' class='dia1' value=' '/></td>
            </tr>
        </table>
    </header>
    <script src='./js/modificacoes.js'></script>
   