<header class='caixa'>
    <hi class='texto1'>Calendário</hi>
    <form class='bloco-login' action='/' method='post'>
        <input type='text/email' class='login1' name='name' placeholder="name ou email" />
        <input type='password' class='login2' name='password' placeholder="senha" />
        <li><a type='text' class="link-cadastro" rel='stylesheet' href="cadastro">Não tem cadastro?</a> </li>
        <button id= 'login' type='submit' class='botao-entrar'>Enviar</button>/>
    </form>
    
</header>